body{
  padding-top:80px;
  word-wrap:break-word;
  background-color:lightgoldenrodyellow;
}


.container{
  text-align: center;
}

#logout{
  position: absolute;
  bottom: 0;
  width: 100%;
}
body{
  background-image: url("backround.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.options-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}
.option{
  border: 1px solid lightgray;
  padding: 10px;
}
.logout{
  border: 1px solid skyblue;
  margin-right: 30px;
  padding: 10px;
  font-size: 24px;
}